body
{
    background: rgb(211, 53, 53);
}
h1
{
    text-align: center;
}
body img
{
    width: 60%;
    margin: 20px 60px 50px 60px;
}
#bluecoloer
{
    color: blue;
}
.newcoloer
{
    color: rgb(7, 117, 16);
}